.btn-login {
    @include featureButtons(3px, none, white, none, $secondColorLogin, none, 0.5em);
    background: {
        image: -khtml-gradient(linear, left top, left bottom, from($firstColorLogin), to($secondColorLogin));
        image: -moz-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -ms-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $firstColorLogin), color-stop(100%, $secondColorLogin));
        image: -webkit-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -o-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -ms-linear-gradient(top, $firstColorLogin 0%, $secondColorLogin 100%);
        image: linear-gradient($firstColorLogin, $secondColorLogin);
    }
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0)";
}

.btn-join {
    @include featureButtons(3px, none, white, none, $secondColorLogin, none, 0.8em);
    background: {
        image: -khtml-gradient(linear, left top, left bottom, from($firstColorJoin), to($secondColorJoin));
        image: -moz-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -ms-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $firstColorJoin), color-stop(100%, $secondColorJoin));
        image: -webkit-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -o-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -ms-linear-gradient(top, $firstColorJoin 0%, $secondColorJoin 100%);
        image: linear-gradient($firstColorJoin, $secondColorJoin);
    }
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorJoin', endColorstr='$secondColorJoin', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorJoin', endColorstr='$secondColorJoin', GradientType=0)";
}

.btn-racesMeet {
    @include featureButtons(3px, none, black, none, #dadfe5, none, 12px 0);
    width: 100%;
    margin: 8px 0;
    position: relative;
    &.btn-bet {
        width: 50px;
    }
}
.btn-square {
    background-color: #184b74;
    font-size: 20px;
    @include flexSetSpace;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    span {
        position: relative;
        font-size: 13px;
        width: auto;
        height: auto;
        vertical-align: baseline;
        line-height: 1.5;
        padding: 0 5px;
    }
}
.btn-backArrow {
    @include circleFeatures(#fff, rgba(255,255,255, 0.1), none);
    border-radius: 4px;
    font-size: 20px;
    width: 40px;
    padding: 9px 0;
}
.btn-circle {
    @include circleFeatures(#005266, #eef1f3, 0 2px 0 0 #C5C9CC);
    border-radius: 50%;
    font-size: 24px;
    margin-bottom: 0.375em;
    padding: 15px; 
    width: 56px;
    &.active {
        @include circleFeatures(#fff, #248cb3, 0 2px 0 0 #054d68);
    }
    &.golden {
        @include circleFeatures(#fff, #908826, 0 2px 0 0 #777018);
    }
    &.icon-specials {
        color: #d65a77;
    }
    
}