.btn-login {
    @include featureButtons(3px, none, white, none);
    background: {
        color: $secondColorLogin;
        image: -khtml-gradient(linear, left top, left bottom, from($firstColorLogin), to($secondColorLogin));
        image: -moz-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -ms-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $firstColorLogin), color-stop(100%, $secondColorLogin));
        image: -webkit-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -o-linear-gradient($firstColorLogin, $secondColorLogin);
        image: -ms-linear-gradient(top, $firstColorLogin 0%, $secondColorLogin 100%);
        image: linear-gradient($firstColorLogin, $secondColorLogin);
    }
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0)";
}

.btn-join {
    @include featureButtons(3px, none, white, none);
    //color: #cbe566;
    background: {
        color: $secondColorJoin;
        image: -khtml-gradient(linear, left top, left bottom, from($firstColorJoin), to($secondColorJoin));
        image: -moz-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -ms-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $firstColorJoin), color-stop(100%, $secondColorJoin));
        image: -webkit-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -o-linear-gradient($firstColorJoin, $secondColorJoin);
        image: -ms-linear-gradient(top, $firstColorJoin 0%, $secondColorJoin 100%);
        image: linear-gradient($firstColorJoin, $secondColorJoin);
    }
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorJoin', endColorstr='$secondColorJoin', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorJoin', endColorstr='$secondColorJoin', GradientType=0)";
}

.btn-racesMeet {
    @include featureButtons(none, none, black, none);
    background-color: #b4bfc5;
    width: 100%;
    margin: 10px 0;
    position: relative;
    &.btn-bet {
        width: 50px;
    }
}
.square-btn {
    background-color: #184b74;
    font-size: 20px;
    @include flexSetSpace;
    padding: 0px 5px;
    span {
        position: relative;
        font-size: 13px;
        width: auto;
        height: auto;
        vertical-align: baseline;
        line-height: 1.5;
        padding: 0 5px;
    }
}