body{
    // background: url(../img/bodyBG.png) repeat-x #000c2c;
    color: #fff;
	font-family: OpenSansRegular,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 0.5;
    margin: 0;
    padding: 0;
    // position: relative;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.fs0 {
    font-size: 16px;
}
.fs1 {
    font-size: 32px;
}
.fs2 {
    font-size: 24px;
}
.fs3 {
    font-size: 32px;
}