#bettingDropMenu-small {
	@include smFeaturesDropDowns;
	background-color: #fff;
	a {
		color: #000;
	}
}
// #betsSecondLevel {
// 	ul {
// 		color: #fff;
// 		@include flexSetSpaceEnd;
// 		@include minBasicSpace;
//     	ul {
//     		background-color: #3399ff;
//     		display: block;
// 	    	li {
// 	    		border-radius: 3px;
// 				font-size: 0.9em;
// 			}
// 		}
// 	}
// }
#firstLevelHeader {
	@include flexSetOrig;
    min-height: 56px;
    padding: 0px 8px;
}
#headerContainer {
	// background: url(../img/headerBG.jpg) repeat-x #000c2c;
	background-color: #184b74; 
}
#lang-help {
	@include flexSetEnd;
   	margin-top: $minDistance;
   	padding: 2px 5px;
	ul {
		@include flexSetOrig;
    	font: normal 19px/26px "Helvetica Neue", Arial, sans-serif;
		li {
			border-radius: 50%;
			background-color: #000c2c;
			&#britishFlag {
				padding: 7px 8px 0px 8px;
			}
			&#help {
				padding: 7px 10px 5px 8px;
				font-size: 0.5em;
			}
		}
	}
}	
#loginArea {
    padding: $minDistance + 5;
	position: relative;
	top: -3px;
    @include flexSetOrig;
    float: right;
}
#loginArea-small {
	padding: 5px;
	.btn-login, .btn-join {
		margin: 5px 0;
		width: 100%;
	}
}
@media only screen and (max-width: 480px) and (min-width: 0px) {
	.logoWh {
	    display: inline-block;
	    font-size: 16px;
	    background-image: url(../whIconFont/wh-logo.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 0 center;
	    margin: 0;
	    height: 3em;
	    padding-top: 1em;
	    width: 122px;
	}
}