.icon-horse {
	background: url(../img/topbets-icon-horse-racing.png) -15px;
	color:	#fff;
	height: 17px;
	position: relative;
	width: 24px; 
}

.dropDownIcon {
	background: url(../img/dropDown.svg) 0;
	height: $minDistance / 2;
	padding: 0 8px;
	position: absolute;
	right: 25px;
}

.circle-events {
	background: url(../img/topbets-icon-horse-racing.png) blue -15px ;
	border-radius: 50%;
	height: 32px;
	padding: 15px;
	position: absolute;
	width: 32px; 
}

.icon-slip {
	background: url(../img/slip.svg) -15px;
	color:	#fff;
	height: 17px;
	position: relative;
	width: 24px; 
}

.icon-openBets {
	background: url(../img/drawsvg2.svg) no-repeat center center #003756;
	width: 30px;
	height: 30px;
}

.icon-arrow {
	height: $minDistance * 4 + 2px;
	background: url(../img/drawsvg2.svg) no-repeat center center #003756;
}

$teams: blackTs greenTs purpleTs redTs yellowTs;

@each $team in $teams {
	.icon-tshirt-#{$team} {
		background: url(../img/icon-tshirt-#{$team}.gif) no-repeat;
		height: 29px;
    	width: 40px;
    	position: absolute;
	}
}

