.icon-horse {
	background: url(../img/topbets-icon-horse-racing.png) -15px;
	color:	#fff;
	height: 17px;
	position: relative;
	width: 24px; 
}

.dropDownIcon {
	background: url(../img/dropDown.svg) 0;
	height: $minDistance / 2;
	padding: 0 8px;
	position: absolute;
	right: 25px;
}

.circle-events {
	border-radius: 50%;
	height: 32px;
	// padding: 15px;
	position: absolute;
	width: 32px;
	background-color: blue; 
}

.icon-slip {
	background: url(../img/slip.svg) -15px;
	color:	#fff;
	height: 17px;
	position: relative;
	width: 24px; 
}

.icon-openBets {
	background: url(../img/drawsvg2.svg) no-repeat center center #003756;
	width: 30px;
	height: 30px;
}

.icon-arrow {
	height: $minDistance * 4 + 2px;
	background: url(../img/drawsvg2.svg) no-repeat center center #003756;
}

$teams: blackTs greenTs purpleTs redTs yellowTs;

@each $team in $teams {
	.icon-tshirt-#{$team} {
		background: url(../img/icon-tshirt-#{$team}.gif) no-repeat;
		height: 29px;
    	width: 40px;
    	position: absolute;
	}
}

.icon-small-horses {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAABICAYAAACTKCf+AAACmElEQVR42u2YT0hUQRzHX/5D2HZXCf/QIfEgdPISRCVoKIRaqIdAwo6llgqBu9Lumn8uEoInPdTFLgUdOnQIBKEgMtBbBw926FTQSRA0KjXH309mbNzdt2/em5n3HjIDH1iWeTOffe/N7G++liXZam8myhHLzwYTngeGgTfAV2AXIBT8vAG8Bgaxrw6Ba8A7YJ+b2Ans+xa4okKglv5CIsEB8BKo8irRAvyUlOD5ATS5lbgN/FUowfgN9IhKtGuSYODYrU4S9cCWRgnGJlBnJ3EG+OSDBOM9zplP5K6PEozebIkiukHldCbrlhJsRNZxbl7khp21ZhHkOi+yGKDIc17ku4iIm+d/qW9A9Npv/DZOAhRBKlGkOQQil1GkKwQiHSjSGwKRWyjSGQKRNhRpFBXRtHyRi6zm3AtQ5A9Qypbw5wBFPvIbWiaAPzxGghe5UOjxaGQvp9qHL165XQkSLyfjRb56pIHWlH6J/MKK0K5KS/sokixUsxYDyz68G0t5y8QsmTjwRaPEKhARPVJUaiqkPwAxt4esMmCOHhllBf4Bs8c7qMej51VgTUJi5ajeUJgItNHD9I7A5Nu0b4vOjKSUxhQDwAwWv8Az+rmf3sESyzTTwtZMqmhSRZMqmlTRpIpuU0VrYUoJ0qmiZhHxVNEHEbFUUXCwHGq6k6LXiqWKbKCy6Se6RMRSxWyJ6HCanLszplrEOVXkJc4+Sh8NWjQ3SWq6kipFnFPFbAlrfopU3Hus+o7Yp4qR0QyJPUh5kvAgkj9VjCQyxxOXj4/nSFT3JEnJ0wlVy9c+VYwPpk4OJCnhIFI4VYw9/C8Tvy8n4SDinCpGR9IkOpQyqaLwSpB4OeVSRcUi3lNFxSImVTSpokkVT0eqeAjuokVqas+oPQAAAABJRU5ErkJggg==);
	background-size:17px 36px;
}
.icon-big-horses {
	background: url(../img/topbets-icon-horse-racing.png) blue -15px ;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?nhu98y');
    src:url('../fonts/icomoon.eot?nhu98y#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?nhu98y') format('truetype'),
        url('../fonts/icomoon.woff?nhu98y') format('woff'),
        url('../fonts/icomoon.svg?nhu98y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// $iconEvents: calendar monitor startwo news files star paragraph;
// $num: 906;

// @each $iconEvent in $iconEvents {
// 	.icon-#{$iconEvent}:before {
// 		@while $num > 899 {
// 			content: "\e#{$num}";
// 			$num: $num - 1;
// 		}
// 	}
// }

.icon.calendar:before {
    content: "\e900";
}
.icon.monitor:before {
    content: "\e901";
}
.icon-startwo:before {
    content: "\e902";
}
.icon-news:before {
    content: "\e903";
}
.icon-files:before {
    content: "\e904";
}
.icon-star:before {
    content: "\e905";
}
.icon-paragraph-justify:before {
    content: "\e906";
}