$large: 995px;
$medHeight: 85px;
$minDistance: 10px;

$fullWidth: 100%;

// Button Colors
$firstColorLogin: #49ccf6;
$secondColorLogin: #0090c3;
$firstColorJoin: #a9d400;
$secondColorJoin: #517300;

// Text Styles
$yellowGold: #ffd300;

// Horse Racing Box
$borderBox: 1px solid #c6cacd;