@each $align in $aligns {
	.align-#{$align} {
		text-align: #{$align};
	}
}
@each $alignment in $alignments {
	.alignIt-#{$alignment} {
		align-items: #{$alignment};
	}
}
@each $fontsStyle in $fontsStyles {
	.fst-#{$fontsStyle} {
		font-style: #{$fontsStyle};
	}
}
@each $side in $sides {
	.col-container-#{$side} {
		margin-#{$side}: $standardDistance - 5;
		flex-basis: 50%;
	}
}