@mixin featureButtons($borderRadius, $transition, $colorButton, $textDec) {
    background-repeat: repeat-x;
    cursor: pointer;
    display: block;
    font: normal 13px "Helvetica Neue", Arial, sans-serif;
    height: 30px;
    margin-right: 10px;
    padding: 0.7em;
    position: relative;
    text-align: center;
    // width: 80px;
    &:hover {
        color: black;
    }
    a {
        text-decoration: $textDec;
        color: $colorButton;
    }
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    border-radius: $borderRadius;
    text-align: center;
    cursor: pointer;
    -webkit-transition: $transition;
    transition: $transition;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$firstColorLogin', endColorstr='$secondColorLogin', GradientType=0)";
}