%withing {
	width: $large;
    margin: 0 auto;
}

@mixin minBasicSpace {
	margin: 0;
	padding: 0;
}

@mixin smFeaturesDropDowns {
	height: 450px;
	font-size: 1.2em;
	position: relative;
	padding: 5px 10px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 10px 0 0 0;
		li {
			float: left;
			line-height: 30px;
			min-width: 50%;
		}
	}
}

@mixin flexSetOrig{
	display: -webkit-flex;
	display: flex;
}

@mixin flexSetEnd {
	@include flexSetOrig;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

@mixin flexSetSpace {
	@include flexSetOrig;
	-webkit-justify-content: space-around;
    justify-content: space-around;
}

@mixin flexSetSpaceEnd {
	@include flexSetSpace;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

@mixin flexSetColumn {
	@include flexSetOrig;
	-webkit-flex-direction: column;
    flex-direction: column;
}