.logo-bg {
	display: inline-block;
    font-size: 16px;
    background-image: url(../whIconFont/wh-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    height: 2em;
    width: 122px;
}