#bodyContainer {
    background-color: #dad9db;
    padding: $standardDistance; 
}
.fs0 {
    font-size: 13px;
}
.fs1 {
    font-size: 32px;
}
.fs2 {
    font-size: 24px;
}
.fs3 {
    font-size: 32px;
}
.pull-left {
    float: left;
}

.pull-right {
    float: right;
    margin-right: 5px;
}
.push-right {
    flex: 1 0;
}
.pull-end {
    margin-left: auto;
    margin-right: 0;
}
.end-component {
    @include flexSetEnd;
}
.bg-white-100 {
    background-color: $bgWhite100;
}
.bg-grey-light-85 {  //bg-85-light-grey
    background-color: #dad9db;
}
.bg-blue-dark-18 {
    background-color: #12324b;
}
.bg-blue-dark-27 {
    background-color: #184b74;
}
.bg-blue-dark-36 { 
    background-color: $bgBlueDark36;
}
.bg-blue-dark-42 {
    background-color: #237eb1;
}