.warning-message {
    background-color: #fee9ca;
	color: #c97827;
	border: 1px solid #c97827;
	border-radius: 4px;
	margin: 10px 0;
	padding: 0 5px;
	text-align: center;
	p {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}